body{
	background-color: rgba(29,29,29,1);
	width:80%;
	margin: 0 auto;
	margin-top:10px;
}

#container{
	width :100%;
	min-width : 80%;
	margin: auto;
	display:inline-block;
	background-color: rgba(29,29,29,1);
}

div.basic{
	box-shadow:  8px 8px 8px rgba(27,27,27,1);
	//border : 1px solid red;	
	min-width: 200px;
	height: 200px;
        width:24%;
        border-radius:3px;
        background-color: rgba(47,47,47,1);
	border:1px solid rgba(120,120,120,0.25);
}

p{
	border: 0px solid red;
	font-family: Helvetica;
	color: rgba(204,204,204,1);
	padding: 2px; 
}

div#loadaverage{
	box-shadow:  8px 8px 8px rgba(27,27,27,1);
	float:left;
	margin-right:1%;
	margin-bottom:1%;
}
div#temp{
	box-shadow:  8px 8px 8px rgba(27,27,27,1);
	float:left;
	margin-right:1%;
	margin-bottom:1%;
}
div#ramUsed{
        box-shadow:  8px 8px 8px rgba(27,27,27,1);
	float:left;
        margin-right:1%;
	margin-bottom:1%;
}
div#uptime{
        box-shadow:  8px 8px 8px rgba(27,27,27,1);
	float:left;	
	margin-bottom:1%;
}
div#user{
        box-shadow:  8px 8px 8px rgba(27,27,27,1);
        float:left;
        margin-right:1%;
        margin-bottom:1%;
}
div#sys{
        box-shadow:  8px 8px 8px rgba(27,27,27,1);
        float:left;
        margin-right:1%;
        margin-bottom:1%;
}
div#idle{
        box-shadow:  8px 8px 8px rgba(27,27,27,1);
        float:left;
        margin-bottom:1%;
	margin-right:1%;
}
div#cpufreq{
        box-shadow:  8px 8px 8px rgba(27,27,27,1);
        float:left;
        margin-bottom:1%;
	margin-right:1%;
}
div#ESSID{
        box-shadow:  8px 8px 8px rgba(27,27,27,1);
        float:left;
        margin-bottom:1%;
}

#value{
	text-align: center;
	font-weight: bold;
	font-size: 45px;
	margin-top:50px;
}
#bigValue{
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        margin-top:10px;
}


#name{
	margin-top: 0px;
	text-align: left;
	font-size: 12px;
	font-weight:bold;
}
#title{ 
	border-bottom:1px solid rgba(120,120,120,0.25);
	border-radius:3px;
	height : 25px;
	background-image:linear-gradient(rgba(65,65,65,1),rgba(47,47,47,1));
	padding-left:2px;
	padding-top:2px;
}
